In [4]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("goodreads_books.csv")
df1.head()

,Title,Author,Rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.35 avg rating — 9,638,928 ratings"
1,Pride and Prejudice,Jane Austen,"4.29 avg rating — 4,657,406 ratings"
2,To Kill a Mockingbird,Harper Lee,"4.26 avg rating — 6,714,763 ratings"
3,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 3,705,625 ratings"
4,The Book Thief,Markus Zusak,"4.39 avg rating — 2,812,521 ratings"

In [ ]:
import pandas as pd
import re

# 1. Load the data from the CSV file
# This replaces the raw_data string and now reads from your uploaded file.
try:
    df1 = pd.read_csv('goodreads_books.csv')
    print("----------- Original Data (first 5 rows) -----------")
    print(df1.head())
    print("\n" + "="*40 + "\n")
except FileNotFoundError:
    print("Error: 'goodreads_books.csv' not found.")
    print("Please make sure the CSV file is in the same directory as the script.")
    exit()


# 2. Clean the 'Rating' column
# -----------------------------------------------------------------
# Split the 'Rating' column into two new columns: 'avg_rating' and 'num_ratings'
# The expand=True argument creates new columns from the split strings.
df1[['avg_rating', 'num_ratings']] = df1['Rating'].str.split('—', expand=True)

# From the 'avg_rating' column, extract only the digits and the decimal point.
df1['avg_rating'] = df1['avg_rating'].str.extract(r'(\d+\.\d+)').astype(float)

# From the 'num_ratings' column, remove commas and then extract only the digits.
df1['num_ratings'] = df1['num_ratings'].str.replace(',', '').str.extract(r'(\d+)').astype(int)


# 3. Clean the 'Title' column
# -----------------------------------------------------------------
# Use .str.extract() to pull the text inside parentheses into a new 'Series' column.
# The regex looks for a pattern starting with '(' and ending with ')'.
df1['Series'] = df1['Title'].str.extract(r'\((.*)\)')

# Use .str.replace() to remove the series part (and any trailing space) from the 'Title'.
# The regex looks for a space followed by parentheses containing any characters.
df1['Title'] = df1['Title'].str.replace(r'\s*\(.*\)', '', regex=True)


# 4. Finalize the DataFrame
# -----------------------------------------------------------------
# Drop the original, messy 'Rating' column as it's no longer needed.
df1 = df1.drop(columns=['Rating'])

# Reorder the columns for better readability
df1 = df1[['Title', 'Author', 'avg_rating', 'num_ratings', 'Series']]


print("----------- Cleaned Data (first 5 rows) -----------")
print(df1.head())

# Display data types to confirm they were converted correctly
print("\n----------- Data Types -----------")
print(df1.info())

In [ ]:
df1.head()

In [ ]:
df1.shape

In [ ]:
df2 = pd.read_csv('google_books.csv')
df2.head(5)

In [20]:
df2.shape

(1000, 11)

In [2]:
import pandas as pd
import re

# 1. Load the Google Books data
df2 = pd.read_csv("google_books.csv")

print("----------- Original Data (first 5 rows) -----------")
print(df2.head())
print("\n" + "="*40 + "\n")

# 2. Clean numerical columns
# -----------------------------------------------------------------
# Ensure ratings and counts are numeric (fill NaN with 0)
df2["averageRating"] = pd.to_numeric(df2["averageRating"], errors="coerce").fillna(0)
df2["ratingsCount"] = pd.to_numeric(df2["ratingsCount"], errors="coerce").fillna(0).astype(int)

# Clean pageCount (replace NaN with 0)
df2["pageCount"] = pd.to_numeric(df2["pageCount"], errors="coerce").fillna(0).astype(int)

# 3. Clean the 'title' column
# -----------------------------------------------------------------
# Extract series info in parentheses, similar to Goodreads cleaning
df2["Series"] = df2["title"].str.extract(r"\((.*)\)")

# Remove the series part from the main title
df2["title"] = df2["title"].str.replace(r"\s*\(.*\)", "", regex=True)

# Strip whitespace
df2["title"] = df2["title"].str.strip()

# 4. Clean 'authors'
# -----------------------------------------------------------------
# Normalize multiple authors into a clean list (keep as string for now)
df2["authors"] = df2["authors"].fillna("").apply(lambda x: ", ".join([a.strip() for a in str(x).split(",") if a.strip()]))

# Count number of authors
df2["num_authors"] = df2["authors"].apply(lambda x: len(x.split(",")) if x else 0)

# 5. Clean 'categories'
# -----------------------------------------------------------------
df2["categories"] = df2["categories"].fillna("").apply(lambda x: ", ".join([c.strip() for c in str(x).split(",") if c.strip()]))

# 6. Dates
# -----------------------------------------------------------------
# Convert publishedDate to datetime, then extract year
df2["publishedDate"] = pd.to_datetime(df2["publishedDate"], errors="coerce")
df2["year"] = df2["publishedDate"].dt.year.fillna(0).astype(int)

# 7. Finalize cleaned DataFrame
# -----------------------------------------------------------------
# Select relevant, clean columns
df2 = df2[[
    "title", "authors", "num_authors", "publisher",
    "year", "categories", "averageRating", "ratingsCount",
    "pageCount", "language", "Series", "description"
]]

print("----------- Cleaned Data (first 5 rows) -----------")
print(df2.head())

print("\n----------- Data Types -----------")
print(df2.info())

----------- Original Data (first 5 rows) -----------
             id                                              title  \
0  mETODwAAQBAJ                      Das Science Fiction Jahr 2019
1  PRElEQAAQBAJ                      Das Science Fiction Jahr 2024
2  HgNPEQAAQBAJ  Das Rätsel der Kalythar und 10 weitere Science...
3  izjmEAAAQBAJ      Auf zwei Planeten (Science-Fiction Klassiker)
4  c1zZEAAAQBAJ        4 Science Fiction Abenteuer Sonderband 1002

                                             authors      publisher  \
0                   Melanie Wylutzki, Hardy Kettlitz       Hirnkost
1  Judith Vogt, Christian Vogt, Dietmar Dath, Len...       Hirnkost
2                                      Alfred Bekker  Uksak E-Books
3                                       Kurd Laßwitz     Good Press
4  Alfred Bekker, David Wright O'Brien, Manfred W...  Uksak E-Books

  publishedDate categories  averageRating  ratingsCount  pageCount language  \
0    2020-02-06    Fiction            NaN           NaN      743.0       de
1    2024-10-03    Fiction            NaN           NaN      592.0       de
2    2025-03-17    Fiction            NaN           NaN      902.0       de
3    2024-01-02    Fiction            NaN           NaN      758.0       de
4    2023-06-10    Fiction            NaN           NaN      568.0       de

                                         description
0  Auf posthumanistischen Wegen – der Rundgang du...
1  Ob ernsthafte Bedrohung oder Chance für die Me...
2  Dieser Band enthält folgende Geschichten: Alfr...
3  In "Auf zwei Planeten" entführt Kurd Laßwitz d...
4  Dieser Band enthält folgende Romane: Der Held ...

========================================

----------- Cleaned Data (first 5 rows) -----------
                                               title  \
0                      Das Science Fiction Jahr 2019
1                      Das Science Fiction Jahr 2024
2  Das Rätsel der Kalythar und 10 weitere Science...
3                                  Auf zwei Planeten
4        4 Science Fiction Abenteuer Sonderband 1002

                                             authors  num_authors  \
0                   Melanie Wylutzki, Hardy Kettlitz            2
1  Judith Vogt, Christian Vogt, Dietmar Dath, Len...           38
2                                      Alfred Bekker            1
3                                       Kurd Laßwitz            1
4  Alfred Bekker, David Wright O'Brien, Manfred W...            4

       publisher  year categories  averageRating  ratingsCount  pageCount  \
0       Hirnkost  2020    Fiction            0.0             0        743
1       Hirnkost  2024    Fiction            0.0             0        592
2  Uksak E-Books  2025    Fiction            0.0             0        902
3     Good Press  2024    Fiction            0.0             0        758
4  Uksak E-Books  2023    Fiction            0.0             0        568

  language                     Series  \
0       de                        NaN
1       de                        NaN
2       de                        NaN
3       de  Science-Fiction Klassiker
4       de                        NaN

                                         description
0  Auf posthumanistischen Wegen – der Rundgang du...
1  Ob ernsthafte Bedrohung oder Chance für die Me...
2  Dieser Band enthält folgende Geschichten: Alfr...
3  In "Auf zwei Planeten" entführt Kurd Laßwitz d...
4  Dieser Band enthält folgende Romane: Der Held ...

----------- Data Types -----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          999 non-null    object
 1   authors        1000 non-null   object
 2   num_authors    1000 non-null   int64
 3   publisher      361 non-null    object
 4   year           1000 non-null   int64
 5   categories     1000 non-null   object
 6   averageRating  1000 non-null   float64
 7   ratingsCount   1000 non-null   int64
 8   pageCount      1000 non-null   int64
 9   language       1000 non-null   object
 10  Series         23 non-null     object
 11  description    454 non-null    object
dtypes: float64(1), int64(4), object(7)
memory usage: 93.9+ KB
None

In [3]:
df2.head()

,title,authors,num_authors,publisher,year,categories,averageRating,ratingsCount,pageCount,language,Series,description
0,Das Science Fiction Jahr 2019,"Melanie Wylutzki, Hardy Kettlitz",2,Hirnkost,2020,Fiction,0.0,0,743,de,NaN,Auf posthumanistischen Wegen – der Rundgang du...
1,Das Science Fiction Jahr 2024,"Judith Vogt, Christian Vogt, Dietmar Dath, Len...",38,Hirnkost,2024,Fiction,0.0,0,592,de,NaN,Ob ernsthafte Bedrohung oder Chance für die Me...
2,Das Rätsel der Kalythar und 10 weitere Science...,Alfred Bekker,1,Uksak E-Books,2025,Fiction,0.0,0,902,de,NaN,Dieser Band enthält folgende Geschichten: Alfr...
3,Auf zwei Planeten,Kurd Laßwitz,1,Good Press,2024,Fiction,0.0,0,758,de,Science-Fiction Klassiker,"In ""Auf zwei Planeten"" entführt Kurd Laßwitz d..."
4,4 Science Fiction Abenteuer Sonderband 1002,"Alfred Bekker, David Wright O'Brien, Manfred W...",4,Uksak E-Books,2023,Fiction,0.0,0,568,de,NaN,Dieser Band enthält folgende Romane: Der Held ...

In [33]:
df2.shape

(1000, 12)

In [34]:
df2.columns

Index(['title', 'authors', 'num_authors', 'publisher', 'year', 'categories',
       'averageRating', 'ratingsCount', 'pageCount', 'language', 'Series',
       'description'],
      dtype='object')

In [ ]:
df2 = df2.rename(columns={
    "title": "Title",
    "authors": "Author",
    "num_authors": "Num_Authors",
    "publisher": "Publisher",
    "year": "Year",
    "categories": "Categories",
    "averageRating": "Avg_Rating",
    "ratingsCount": "Num_Ratings",
    "pageCount": "Page_Count",
    "language": "Language",
    "Series": "Series",
    "description": "Description"
})

In [ ]:
df = pd.merge(df1, df2, on="Title", how="outer")
df.head()

In [47]:
df.shape

(1000, 17)

In [48]:
df['language'].value_counts()

language
en    948
de     51
fr      1
Name: count, dtype: int64

In [49]:
df.drop_duplicates(inplace=True)
df.dropna(subset=["Title", "Author"], inplace=True)
df.shape

(1000, 17)

In [50]:
df.to_csv("books_clean_data.csv", index=False)